<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>09_chumanhquyetthang_manage_user</display-name>
  <welcome-file-list>
    <welcome-file>Login.do</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>manageuser.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>manageuser.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/Logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListUserController</servlet-name>
    <servlet-class>manageuser.controller.ListUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserController</servlet-name>
    <url-pattern>/ListUser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserInputController</servlet-name>
    <servlet-class>manageuser.controller.AddUserInputController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserInputController</servlet-name>
    <url-pattern>/AddUserInput.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserValidate</servlet-name>
    <servlet-class>manageuser.controller.AddUserInputController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserValidate</servlet-name>
    <url-pattern>/AddUserValidate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserConfirmController</servlet-name>
    <servlet-class>manageuser.controller.AddUserConfirmController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserConfirmController</servlet-name>
    <url-pattern>/AddUserConfim.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SuccessController</servlet-name>
    <servlet-class>manageuser.controller.SuccessController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessController</servlet-name>
    <url-pattern>/Success.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SystemErronController</servlet-name>
    <servlet-class>manageuser.controller.SystemErrController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemErronController</servlet-name>
    <url-pattern>/SystemErr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowController</servlet-name>
    <servlet-class>manageuser.controller.ShowUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowController</servlet-name>
    <url-pattern>/ShowUserInfor.do</url-pattern>
  </servlet-mapping>
    <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>manageuser.filter.SetCharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>Filter</filter-name>
    <filter-class>manageuser.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>EditUserInputController</servlet-name>
    <servlet-class>manageuser.controller.EditUserInputController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserInputController</servlet-name>
    <url-pattern>/EditUserInput.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUserValidateController</servlet-name>
    <servlet-class>manageuser.controller.EditUserInputController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserValidateController</servlet-name>
    <url-pattern>/EditUserValidate.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteUserController</servlet-name>
    <servlet-class>manageuser.controller.DeleteUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserController</servlet-name>
    <url-pattern>/DeleteUser.do</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>AddUserOKController</servlet-name>
    <servlet-class>manageuser.controller.AddUserConfirmController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserOKController</servlet-name>
    <url-pattern>/AddUserOK.do</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>EditUserConfimController</servlet-name>
    <servlet-class>manageuser.controller.EditUserConfirmController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserConfimController</servlet-name>
    <url-pattern>/EditUserOK.do</url-pattern>
  </servlet-mapping>
</web-app>